# このファイルを参考に、プロジェクトルート(kabu/)に ".env" を作成して値を設定する。
# .env は絶対にコミットしないこと(.gitignore済み)。

# 送信元Gmailアドレスと、2段階認証を有効にした上で発行したアプリパスワード
# 発行: https://myaccount.google.com/apppasswords
GMAIL_ADDRESS=your_address@gmail.com
GMAIL_APP_PASSWORD=xxxxxxxxxxxxxxxx

# 通知の送り先(省略時はGMAIL_ADDRESS宛=自分自身に送信)
MAIL_TO=your_address@gmail.com
